<a href="https://colab.research.google.com/github/gopikasingh/Automata-Union-Operation/blob/main/Automata_Assignment_Union_of_two_DFAs_GopikaSingh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Combining two DFAs by Union operation**

In [16]:
!pip install automata-lib
!pip install orderedset
!pip install pysimpleautomata
!pip install graphviz

Requirement already satisfied: automata-lib in /usr/local/lib/python3.7/dist-packages (5.0.0)
Requirement already satisfied: pydot in /usr/local/lib/python3.7/dist-packages (from automata-lib) (1.3.0)
Requirement already satisfied: pyparsing>=2.1.4 in /usr/local/lib/python3.7/dist-packages (from pydot->automata-lib) (3.0.6)
Requirement already satisfied: orderedset in /usr/local/lib/python3.7/dist-packages (2.0.3)
Requirement already satisfied: pysimpleautomata in /usr/local/lib/python3.7/dist-packages (0.5.0)
Requirement already satisfied: pydot in /usr/local/lib/python3.7/dist-packages (from pysimpleautomata) (1.3.0)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from pysimpleautomata) (0.10.1)
Requirement already satisfied: pyparsing>=2.1.4 in /usr/local/lib/python3.7/dist-packages (from pydot->pysimpleautomata) (3.0.6)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (0.10.1)

In [2]:
from automata.base.automaton import Automaton

In [3]:
from automata.fa.fa import FA

In [4]:
from orderedset import OrderedSet

In [24]:
from PySimpleAutomata import automata_IO

#**Creating the 1st DFA**

In [5]:
print("For 1st DFA ->\n\nEnter the states seperated by a comma(and without space): ",end="")
x = OrderedSet(input().split(','))
print("\nEnter the input alphabets for the first DFA : ",end="")
inp = OrderedSet(input().split(','))

For 1st DFA ->

Enter the states seperated by a comma(and without space): q0,q1,q2

Enter the input alphabets for the first DFA : 0,1

In [ ]:
print(x,inp)

OrderedSet(['q0', 'q1', 'q2']) OrderedSet(['0', '1'])

In [6]:
dictt = {}
zero = 1
for i in x:
  print("The transition",zero)
  temp = {}
  for j in inp:
    print("for the state",i,"and input alphabet",j,"= ",end="")
    state1 = input()
    temp[j]=state1
  zero+=1
  dictt[i] = temp
  print("\n")

print("\n",dictt,"\n")

The transition 1
for the state q0 and input alphabet 0 = q0
for the state q0 and input alphabet 1 = q1


The transition 2
for the state q1 and input alphabet 0 = q0
for the state q1 and input alphabet 1 = q2


The transition 3
for the state q2 and input alphabet 0 = q2
for the state q2 and input alphabet 1 = q1



 {'q0': {'0': 'q0', '1': 'q1'}, 'q1': {'0': 'q0', '1': 'q2'}, 'q2': {'0': 'q2', '1': 'q1'}}

In [32]:
print("Enter the initial state: ",end="")
ini = input()

print("Enter the final states: ",end="")
fin = set(input().split(','))

Enter the initial state: q0
Enter the final states: q1

In [8]:
from automata.fa.dfa import DFA
# DFA which matches all binary strings ending in an odd number of '1's
dfa1 = DFA(
    states=x,
    input_symbols=inp,
    transitions=dictt,
    initial_state=ini,
    final_states=fin
)

In [ ]:
dfa_example = {
    'alphabet': {'5c', '10c', 'gum'},
    'states': {'s1', 's0', 's2', 's3'},
    'initial_state': 's0',
    'accepting_states': {'s0'},
    'transitions': {
        ('s1', '5c'): 's2',
        ('s0', '5c'): 's1',
        ('s2', '10c'): 's3',
        ('s3', 'gum'): 's0',
        ('s2', '5c'): 's3',
        ('s0', '10c'): 's2',
        ('s1', '10c'): 's3'
    }
}

In [58]:
dfa_example = {
    'alphabet': inp,
    'states': x,
    'initial_state': ini,
    'accepting_states': fin,
    'transitions': {
        ('q0', '0'): 'q0',
        ('q0', '1'): 'q1',
        ('q1', '0'): 'q0',
        ('q1', '1'): 'q2',
        ('q2', '0'): 'q2',
        ('q2', '1'): 'q1'
    }
}

In [59]:
automata_IO.dfa_to_dot(dfa_example, 'dfa')

#**Creating the 2nd DFA**

In [35]:
print("For 2nd DFA ->\n\nEnter the states seperated by a comma(and without space): ",end="")
x1 = OrderedSet(input().split(','))
print("\nEnter the input alphabets for the first DFA : ",end="")
inp1 = OrderedSet(input().split(','))

For 2nd DFA ->

Enter the states seperated by a comma(and without space): q00,q11,q22,q33

Enter the input alphabets for the first DFA : 0,1

In [36]:
dictt1 = {}
zero1 = 1
for ii in x1:
  print("The transition",zero1)
  temp1 = {}
  for jj in inp1:
    print("for the state",ii,"and input alphabet",jj,"= ",end="")
    state1 = input()
    temp1[jj]=state1
  zero1+=1
  dictt1[ii] = temp1
  print("\n")
print("\n",dictt1,"\n")

The transition 1
for the state q00 and input alphabet 0 = q11
for the state q00 and input alphabet 1 = q33


The transition 2
for the state q11 and input alphabet 0 = q33
for the state q11 and input alphabet 1 = q22


The transition 3
for the state q22 and input alphabet 0 = q22
for the state q22 and input alphabet 1 = q22


The transition 4
for the state q33 and input alphabet 0 = q33
for the state q33 and input alphabet 1 = q33



 {'q00': {'0': 'q11', '1': 'q33'}, 'q11': {'0': 'q33', '1': 'q22'}, 'q22': {'0': 'q22', '1': 'q22'}, 'q33': {'0': 'q33', '1': 'q33'}}

In [37]:

print("Enter the initial state: ",end="")
ini1 = input()

print("Enter the final states: ",end="")
fin1 = OrderedSet(input().split(','))

Enter the initial state: q00
Enter the final states: q22

In [38]:
other_dfa = DFA(
    states=x1,
    input_symbols=inp1,
    transitions=dictt1,
    initial_state=ini1,
    final_states=fin1
)

In [56]:
dfa_example2 = {
    'alphabet': inp1,
    'states': x1,
    'initial_state': ini1,
    'accepting_states': fin1,
    'transitions': {
        ('q00', '0'): 'q11',
        ('q00', '1'): 'q33',
        ('q11', '0'): 'q33',
        ('q11', '1'): 'q22',
        ('q22', '0'): 'q22',
        ('q22', '1'): 'q22',
        ('q33', '0'): 'q33',
        ('q33', '1'): 'q33'
    }
}

In [57]:
automata_IO.dfa_to_dot(dfa_example2, 'dfa2')

#**Checking what strings do the DFAs accept**

In [42]:
print("Enter the input state: ",end="")
strr = input()

Enter the input state: 00101

In [43]:
#if dfa.accepts_input(my_input_str):

if dfa1.accepts_input(strr):
    print('DFA1 accepted the string',strr)
else:
    print('DFA1 rejected the string',strr)

DFA1 accepted the string 00101

In [44]:
if other_dfa.accepts_input(strr):
    print('DFA2 accepted the string',strr)
else:
    print('DFA2 rejected the string',strr)

DFA2 rejected the string 00101

In [45]:
other_dfa.read_input_stepwise('0111')

#**Minimizing the DFAs**

In [46]:
dfa1 = dfa1.minify(retain_names=True)

In [47]:
other_dfa = other_dfa.minify(retain_names=True)

#**Union Operation**

In [48]:
#minimal_union_dfa = dfa1 | other_dfa
union_dfa = dfa1.union(other_dfa,minify=False)
union_dfa = union_dfa.minify(retain_names=True)

In [49]:
print(union_dfa.states)

{'{{q0,q2},q00}', '{{q0,q2},q11}', '{{q1,q22},{{q0,q2},q22}}', '{q1,q33}', '{{q0,q2},q33}'}

In [50]:
print(union_dfa.input_symbols)

OrderedSet(['0', '1'])

In [51]:
print(union_dfa.transitions)

{'{q1,q33}': {'0': '{{q0,q2},q33}', '1': '{{q0,q2},q33}'}, '{{q0,q2},q11}': {'0': '{{q0,q2},q33}', '1': '{{q1,q22},{{q0,q2},q22}}'}, '{{q1,q22},{{q0,q2},q22}}': {'0': '{{q1,q22},{{q0,q2},q22}}', '1': '{{q1,q22},{{q0,q2},q22}}'}, '{{q0,q2},q33}': {'0': '{{q0,q2},q33}', '1': '{q1,q33}'}, '{{q0,q2},q00}': {'0': '{{q0,q2},q11}', '1': '{q1,q33}'}}

In [52]:
print(union_dfa.initial_state)

{{q0,q2},q00}

In [53]:
print(union_dfa.final_states)

{'{q1,q33}', '{{q1,q22},{{q0,q2},q22}}'}

In [60]:
dfa_union_final = {
    'alphabet': union_dfa.input_symbols,
    'states': union_dfa.states,
    'initial_state': union_dfa.initial_state,
    'accepting_states': union_dfa.final_states,
    'transitions': {
        ('{q1,q33}', '0'): '{{q0,q2},q33}',
        ('{q1,q33}', '1'): '{{q0,q2},q33}',
        ('{{q0,q2},q11}', '0'): '{{q0,q2},q33}',
        ('{{q0,q2},q11}', '1'): '{{q1,q22},{{q0,q2},q22}}',
        ('{{q1,q22},{{q0,q2},q22}}', '0'): '{{q1,q22},{{q0,q2},q22}}',
        ('{{q1,q22},{{q0,q2},q22}}', '1'): '{{q1,q22},{{q0,q2},q22}}',
        ('{{q0,q2},q33}', '0'): '{{q0,q2},q33}',
        ('{{q0,q2},q33}', '1'): '{q1,q33}',
        ('{{q0,q2},q00}', '0'): '{{q0,q2},q11}',
        ('{{q0,q2},q00}', '1'): '{q1,q33}'
    }
}

In [61]:
automata_IO.dfa_to_dot(dfa_union_final, 'dfa_union')